<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/normalize.css' ) }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/nav.css' ) }}">
  <title>Inicio</title>
</head>
<body>
  <ul class="nav">
    <li class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="isolation:isolate" viewBox="0 0 221 55" width="221pt" height="55pt">
        <defs>
          <clipPath id="_clipPath_gbDQss89mp67yx1oKhtWeDtPRwZnNUs5">
            <rect width="221" height="55"/>
          </clipPath>
        </defs>
        <g clip-path="url(#_clipPath_gbDQss89mp67yx1oKhtWeDtPRwZnNUs5)">
        <rect width="221" height="55" style="fill:rgb(78,192,193)"/>
      <g>
          <path 
            d=" M 26.879 17.173 
                L 26.822 44.986 
                Q 26.86 47.423 29.449 47.537 
                Q 32.038 47.651 32.152 45.138 
                L 32.228 22.713 
                Q 32.381 21.532 33.104 21.951 
                Q 33.827 22.37 50.58 30.937 
                Q 51.456 31.279 51.932 30.956 
                Q 52.408 30.632 68.97 22.484 
                Q 69.884 21.913 70.084 22.513 
                L 70.055 44.929 
                Q 70.341 47.556 73.053 47.556 
                Q 75.766 47.556 75.938 44.872 
                L 75.852 17.658 
                Q 75.795 14.032 71.997 15.145 
                L 52.55 24.854 
                Q 51.265 25.597 50.466 24.797 
                L 29.906 14.945 
                Q 26.765 13.66 26.879 17.173 
                Z " fill="rgb(255,255,255)"/>
          <path 
            d=" M 51.265 12.318 
                C 49.857 12.394 21 9.469 13.465 19.429 
                C 12.844 20.469 11.883 22.5 11.875 24.813 
                C 11.951 26.814 13.096 28.628 14.429 30.394 
                Q 18.112 34.163 25.737 34.635 
                Q 33.361 35.106 48.41 34.554 
                Q 51.57 34.249 52.141 36.001 
                Q 52.712 37.752 51.532 38.742 
                Q 50.609 39.475 48.246 39.86 
                C 48.067 39.932 45.023 40.242 43.938 40.25 
                C 39.824 40.28 23.209 41.199 14.836 37.969 
                C 0.984 32.625 4.359 18.844 9.498 13.994 
                Q 16.732 7.369 36.15 7.445 
                Q 50.156 7.469 52.141 8.854 
                C 53.815 10.021 52.674 12.242 51.265 12.318 
                Z " fill="#241F20"/>
        </g>
        <g clip-path="url(#_clipPath_W7GkLV83i2Cq1optLdsCG8LOwi4F7O70)">
          <text transform="matrix(1,0,0,1,81,39.792)" 
                style="font-family:'HendersonSansW00-BasicLight';
                      font-weight:400;font-size:24px;
                      font-style:normal;
                      fill:#241F20;
                      stroke:none;">garments</text>
        </g>
        <defs>
          <clipPath id="_clipPath_W7GkLV83i2Cq1optLdsCG8LOwi4F7O70">
          <rect x="0" y="0" width="135" height="31.004" transform="matrix(1,0,0,1,81,16.6)"/>
          </clipPath>
        </defs>
      </g>
      </svg>
    </li>
    <li class="inicio"><a href="/">Inicio</a></li>
    <li class="catalogos"><a href="">Catálogos</a></li>
    <li>
      <div class="busqueda-container">
        <form action="" class="form">
          <input class="busqueda-container__input" type="text" placeholder="Bucar producto">
          <button class="busqueda-container__boton" type="submit"><img src="../../static/src/search.svg" alt="search_logo"></button>
        </form>
      </div>
    </li>
    <li class="carrito-compras">
      <a href=""><img src="../../static/src/CarritoDeCompras.svg" alt="carritoCompras"></a>
    </li>
    <li class="user-logo">
      <a href=""><img src="../../static/src/userLogo.svg" alt="userLogo"></a>
    </li>
  </ul>
  <div class="footer">
    <p class="footer__info1">
      Traemos tu productos originales de EEUU<br>
      Escríbenos al WhatsApp 937144209 / 941851929<br>
      Productos 100% originales con CM Garments<br>
      Envíos a nivel nacional </p>
    <div class="footer__info2">
      <p>
        Recuerda seguirnos en <br>
        Instagram y Facebook para ver los<br>
        productos sin necesidad de entrar a<br>
        la web.
      </p> 
      <div>
        <img src="../../static/src/InstagramLogo.svg" alt="InstagramLogo">
        <img src="../../static/src/FacebookLogo.svg" alt="FacebookLogo"> 
      </div>
      <span>Correo: cmgarmentsimport@gmail.com</span>
    </div>
  </div>

</body>
</html>