@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@310&display=swap');

:root{
  font-size: 10px;
}

.catalogo{
  text-decoration: underline;
}
/*Aqui empieza los estilos del Catalogo*/

h1{
font-size: 4.5rem;
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: bold;
margin: 6.9rem auto 7.9rem auto;
color: #242F2D;

}

.container-catalogo{
  display: flex;
  width: 106.4rem;
  height: 19.2rem;
  margin: 0 auto 14.7rem auto;
  flex-wrap: wrap;
  justify-content: center;
}
.cartera{
  display: flex;
  margin: 0 5.2rem 0 5.2rem;
  
}

  

.calzado{
  display: flex;
  margin: 5.3rem 0 0 0;

}
.boton-container{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
}
.boton-container:hover{
  transform: scale(1.1);
}
.boton{
  width: 32rem;
  height: 6.8rem;
  background-size: cover;
  cursor: pointer;
  border: none;
  border-radius: 2.6rem;
  filter: drop-shadow(0px 0px 1.4rem rgba(0, 0, 0, .6)) brightness(65%);
  
}


.relojes{
  background-image: url('../img/categorias/relojes.jpg');
}
.carteras{
  background-image: url('../img/categorias/carterasDeMujer.jpg');
}
.prendas{
  background-image: url('../img/categorias/prendas.jpg');
}
.calzados{
  background-image: url('../img/categorias/calzado.jpg');
}

.texto{
  text-decoration: none;
  color: white;
  font-size: 4.9rem;
  font-weight: bold;
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}


/*?Responsive Design*/
@media screen and (max-width: 1090px) {
  .container-catalogo{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
  }
  h1{
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .boton-container{
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .container-catalogo{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .boton-container{
    margin-top: 2.5rem;
  }
  h1{
    margin-bottom: 3rem;
    font-size:9vw;
  }
  .texto{
    font-size: 11vw;
  }
  .boton{
    width: 72vw;
    height: 15vw;
  }
}