@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@310&display=swap');
@font-face{
  font-family: HendersonSansW00-BasicLight;
  src:
    url('../fonts/HendersonSans/HendersonSansW00-BasicLight.ttf');
  font-weight: normal;
}
:root{
  font-size: 10px;
}
/*?Estilo de la barra de navergación*/
.nav{
  background:#212738;
  display:flex;
  flex-wrap: wrap;
  text-decoration: none;
  width:100%;
  min-height: 5.5rem;
  list-style: none;
  align-items: center;
  justify-content:space-between;
  padding-right: 1.8rem;
  flex-shrink: 1rem;
}
/*?Estilo del logo*/
.logo svg{
  display: flex;
  width: 22.1rem;
  height: 5.5rem;
  margin: 0;
}
/*?Estilo de los links de paginas*/
.inicio{
  display: flex;
}
.inicio a{
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  /*text-decoration: underline;*/
  color: #EDF2EF;
}
.inicio a:hover{
  filter: brightness(150%);
  transform: scale(1.04);
}
.catalogo{
  display: flex;
}
.catalogo a{
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #EDF2EF;
}
.catalogo a:hover{
  filter: brightness(150%);
  transform: scale(1.04);
}
/*?Estilo de la barra de busqueda*/
.busqueda-container{
  display: flex;
  width: 34rem;
  height: 3.5rem;
  background: #EDF2EF;
  align-items: center;
  padding: 0 .4rem 0 1rem;
  border-radius: 2rem;
  transform: scale(.95);
  transition: ease-out .2s;
}
.busqueda-container:hover{
  transform: scale(1);
  transition: ease-in .2s;
}
.busqueda-container:focus-within,
.busqueda-container__input:focus-within{
  transform:scale(1);
}
.form{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.busqueda-container__input{
  width: 91%;
  outline: none;
  border: none;
  text-align: center;
  font-size: 2rem;
  border-radius:2rem;
  background: #EDF2EF;
  font-family: 'Roboto',sans-serif;
}
.busqueda-container__boton{
  width:3rem;
  height:3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
/*?Estilo de carrito de compras y boton de login*/
.carrito-compras{
  display: flex;
  min-width: 4rem;
}
.carrito-compras:hover{
  filter: brightness(150%);
  transform: scale(1.04);
}
.user-logo{
  display: flex;
  min-width: 4rem;
}
.user-logo__boton:hover{
  filter: brightness(150%);
  transform: scale(1.04);
}
.user-logo__boton, .user-logo__boton-ocultar{
  background:transparent;
  border: none;
  cursor: pointer;
}
.user-logo__boton-ocultar{
  display: none;
}

.user-logo__boton.oculto{
  display: none;
  filter: brightness(150%);
  transform: scale(1.04);
}
.user-logo__boton-ocultar.visible{
  display: block;
  border-radius: .5rem;
  border: solid .25rem #30384f;
  filter: brightness(150%);
  transform: scale(1.04);
}

/*?Dando estilo al login popup*/
.login-container{
  position: absolute;
  width: 100%;
  min-height: 91vh;
  background:transparent;
  visibility: hidden;
  cursor: pointer;
  z-index: 2;
}
.form-container{
  position: absolute;
  right: 0;
  width:32.5rem;
  height: 41.6rem;
  background: rgba(33, 39, 56, 0.8);
  border-radius: 0px 0px 10px 10px;
  cursor: auto;
  z-index: 3;
  visibility: hidden;
}
.login-container.active{
  visibility: visible;
}
.form-container.active{
  visibility: visible;
}

.form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container span{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 4.5rem;
  color: #ffffff;
  margin-top: 2.6rem;
}
.login-container__input-userpass{
  width:26.8rem;
  height: 4.1rem;
  background: #393C46;
  border: solid 2px #999999;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: normal;
  border-radius: 10px;
  margin-top: 2.5rem;
  outline: none;
}
.login-container__input-userpass::placeholder{
  color: #999999;
}
.login-container__input-userpass:hover, .login-container__input-userpass:focus{
  transform: scale(1.015);
  border: solid 2px #ffffff;
  transition: ease-in-out .2s;
}

.login-container__iniciosesion{
  width: 26.8rem;
  height: 4.5rem;
  background: #6D717B;
  border: solid 3px #878C98;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3.6rem;
  cursor: pointer;
}
.login-container__iniciosesion:hover{
  transform: scale(1.005);
  transition: ease-in-out .2s;
  filter: brightness(110%);
}

.login-container__olvidaste{
  text-decoration: none;
  color: #E07474;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: normal;
  margin-top: 1.4rem;
}
.login-container__registrarse{
  text-decoration: none;
  color: #55A9D9;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: normal;
  margin-top: .4rem;
}
.login-container__olvidaste:hover,.login-container__registrarse:hover{
  transform: scale(1.03);
  transition: ease-in-out .2s;
  filter: brightness(130%);
}
/*?Aqui comienza el estilo de footer*/
.footer{
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  background-image: url("../../static/src/Vector.svg");
  height: 28.9rem;
  width: 100%;
}
.footer__info1{
  display: flex;
  font-family: 'Roboto',sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  width: 56.2rem;
  height: 14.9rem;
  color: #ffff;
  margin:9.5rem auto auto 4.8rem ;
  line-height: 4rem;
}
.footer__info2{
  display: flex;
  flex-direction:column;
  font-family: 'Roboto',sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  width: 51.9rem;
  height: 24.5rem;
  color: #ffff;
  text-align: center;
  justify-content: center;
  margin: 2.8rem 3.6rem auto;
}


/*?MediaQueris*/
@media only screen and (max-width: 1110px){
  .footer__info1{
    font-size: 2rem;
  }
  .footer__info2{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 975px){
  .footer__info1{
    font-size: 1.8rem;
  }
  .footer__info2{
    font-size: 1.8rem;
  }
}