{% extends 'base/nav.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/catalogo.css' ) }}">
<h1>Escoge la categoria de tu preferencia</h1>
<div class="container-catalogo">

	<div class="boton-container">
		<a class="boton relojes" href="https://www.google.com" target="_blank"></a>
		<a class="texto" href="https://www.google.com" target="_blank">Relojes</a>
	</div>
	<div class="boton-container cartera">
		<a class="boton carteras" href="https://www.google.com" target="_blank"></a>
		<a class="texto" href="https://www.google.com" target="_blank">Carteras</a>
	</div>
	<div class="boton-container">
		<a class="boton prendas" href="https://www.google.com" target="_blank"></a>
		<a class="texto" href="https://www.google.com" target="_blank">Prendas</a>
	</div>
	<div class="boton-container calzado">
		<a class="boton calzados" href="https://www.google.com" target="_blank"></a>
		<a class="texto" href="https://www.google.com" target="_blank">Calzados</a>
	</div>
</div>
{% endblock %}